<!doctype html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SuperDuperApp - Authentication</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
    {% load static %}
<link rel="icon" href="{% static "img/favicon.png" %}">
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/inter-ui.css" %}" rel="stylesheet">
<style>
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            background-color: #ffffff;
            color: #414141;
            font: 15px/22px 'Inter UI', system-ui, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: -0.002em;
            font-weight: 400;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-overflow-scrolling: touch;
            scroll-behavior: smooth;
            font-kerning: normal;
            -moz-font-feature-settings: "kern" 1, "liga" 1;
            -ms-font-feature-settings: "kern" 1, "liga" 1;
            -o-font-feature-settings: "kern" 1, "liga" 1;
            -webkit-font-feature-settings: "kern" 1, "liga" 1;
            font-feature-settings: "kern" 1, "liga" 1;
        }
        body>.container {
            padding: 50px 15px 0;
        }
        .form-signin {
            width: 100%;
            max-width: 420px;
            padding: 15px;
            margin: auto;
        }
        .btn-login {
            background-color: #047BF5;
            color: #fff;
            font-size: 13px;
        }
        input[type="text"],
        textarea {
            outline: none;
            box-shadow: none !important;
            border: 1px solid #ccc !important;
        }
        ::placeholder {
            font-size: 12px;
        }
        .form-control {
            color:#000000;
            font-size:13px;
        }
    </style>
<script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1138902501");
</script>
</head>
<body>
<main class="container col-lg-offset-5 col-lg-5 col-md-offset-5 col-md-5 col-sm-offset-5 col-sm-5">
<center><img src="{% static "img/logo.svg" %}" width="200" style="margin-bottom:50px;"></center>
<form method="get" class="form-signin" id="install">
<div class="mb-4">
<h6 class="h6 mb-3 font-weight-bold">Authenticate</h6>
<p>To login to an exisiting account, enter your Shopify store domain below.<br /> <br /><small style="color:#999;">Note: You must use your .myshopify.com domain.</small></p>
</div>
<div class="form-label-group">
<input type="text" id="shop" class="form-control" spellcheck="false" required autofocus>
</div>
<br />
<button class="btn btn-lg btn-login btn-block" type="button" onclick="install()">Sign In With Shopify</button>
<br />
<br />
</form>
</main>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script>
    document.getElementById("shop").value = ".myshopify.com";
    document.getElementById("shop").setSelectionRange(0, 0);

    function install() {
        let shop = document.getElementById("shop").value;
        window.location.href = "/api/install/" + shop
    }


</script>

</body>
</html>
