@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/inter-ui-regular.woff") format("woff2"),
       url("../fonts/inter-ui-regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("../fonts/inter-ui-italic.woff") format("woff2"),
       url("../fonts/inter-ui-italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("../fonts/inter-ui-medium.woff") format("woff2"),
       url("../fonts/inter-ui-medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url("../fonts/inter-ui-mediumitalic.woff") format("woff2"),
       url("../fonts/inter-ui-mediumitalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("../fonts/inter-ui-bold.woff") format("woff2"),
       url("../fonts/inter-ui-bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url("../fonts/inter-ui-bolditalic.woff") format("woff2"),
       url("../fonts/inter-ui-bolditalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 900;
  src: url("../fonts/inter-ui-black.woff") format("woff2"),
       url("../fonts/inter-ui-black.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 900;
  src: url("../fonts/inter-ui-blackitalic.woff") format("woff2"),
       url("../fonts/inter-ui-blackitalic.woff") format("woff");
}
